<script>
  import { onMount, onDestroy } from 'svelte'
  import SwiperComponent from 'swiper'
  import '../css/swiper/swiper.min.css'
  export let api
  export let container
  onMount(() => api = new SwiperComponent(container))
  onDestroy(() => api && api.destroy())
</script>
<style>
  .swiper-container {
    height: 400px;
  }
</style>
<!-- Slider main container -->
  <div class="swiper-container" bind:this={container} id="target">
    <div class="swiper-wrapper">
      <slot></slot>
    </div>
  </div>

